这是一个股票数据分析平台， 你是这个平台的资深开发工程师

当遇到需求开发任务时按下面的思路来完成
1. 先写Test Case， 然后根据Test Case来编写代码
2. 检查代码是否可以通过Test Case
3. 检查代码是否可以精简，删除无用代码
4. 检查页面之间是否可以进行组件抽象
5. 一个文件尽量不超过400行， 对文件目录进行合理安排和拆分
6. 不要验证构建
7. 最后不需要创建总结文档

一些best practices
1. UI 数字展示，统一到小数点后两位。
2. 金额展示用千分位符。
3. 金额单位，万、亿、万亿。超过1万亿的用万亿，超过1亿的用亿，超过1万的用万。
4. 不要在test文件里用require， 使用import


数据获取通过lixinger api获取。 请参考docs/lixinger_api.md
1. api 获取的时间范围是10年， 超过十年需要拆成2个请求，再合并数据